.card {
  width: 540px;
}

.card__title {
  margin: 0 0 32px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.card__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 16px;
}

.card__list-item {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  font-family: "Noto Serif", serif;
  font-size: 16px;
  line-height: 20px;
}

.card__list-divider {
  border-bottom: #838383 solid 1px;
  flex-grow: 1;
  border-bottom: 1px solid black;
}