.form {
  max-width: 385px;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__input {
  display: block;
  padding: 15px 20px;
  box-sizing: border-box;
  width: 100%;
  margin-top: 8px;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  border: 1px solid #838383;
}

.form__input::placeholder {
  color: #838383;
}

.form__label {
  display: block;
  margin-bottom: 32px;
  width: 100%;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__button {
  margin-bottom: 32px;
  width: 100%;
  padding: 20px 0;
  border-radius: 4px;
  background-color: #1878dc;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  transition: background-color 1s;
}

.form__button:hover {
  background-color: #3f96f3;
}

.form__button:focus,
.form__button:active {
  background-color: #3f96f3;
  transition: none;
}

.form__checkbox {
  border-radius: 2px;
  min-width: 20px;
  min-height: 20px;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 0;
}
