.menu {
  padding: 100px 0 100px;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  background-image: url(/images/background_menu.svg);
  background-repeat: no-repeat;
}

.menu__title {
  max-width: 780px;
  text-align: center;
  margin: 0 0 24px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.menu__subtitle {
  max-width: 780px;
  text-align: center;
  margin: 0 0 100px;
  font-family: "Noto Serif", Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
}

.menu__cards {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
}