.reservation {
  padding: 100px 0 120px;
  font-family: Inter, Arial, sans-serif;
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #1878DC;
}

.reservation__title {
  text-align: center;
  margin: 0 0 80px;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #000000;
}

.reservation__form {
  margin: 0 auto;
}
